@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div>
    <h3>Fogueo ASP.NET</h3>
    
</div>
<img src="c:\Users\olvis\Downloads\bg-itla.jpg" />