@{
    ViewData["Title"] = "Olvis Enmanuel Mejia Paredes";
}
<h1>@ViewData["Title"]</h1>
<br />

<p>Tengo 18 y voy por mi 6 cuatrimestre en la carrera de desarrollo de software en el (ITLA).
   Tengo un conocimiento basico de HTML, JS, CSS, C#, JAVA, PYTHON y ahora estoy aprendiendo ASP.NET .
</p>

<br />
<h1>Matricula</h1>
<p> 2021-0701</p> 
<br />

<img src="c:\users\olvis\source\repos\fogueo.net\fogueo.net\views\home\olvis.jpg" width="150px" height="150px" />